---
import "../styles/reset.css";
import "../styles/globals.css";

import Background from "../components/Background.astro";
import Navbar from "../components/Navbar.astro";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="ko">
  <head>
    <link rel="preload" href="/fonts/Geist.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="preload" href="/fonts/GeistMono.woff2" as="font" type="font/woff2" crossorigin="">

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    <meta name="theme-color" content="#c9956c">

    <link rel="canonical" href={Astro.url} />

    <meta property="og:title" content={title} />
    {description && <meta property="og:description" content={description} />}
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ko_KR" />
  </head>
  <body>
    <main>
      <Navbar />
      <slot />
    </main>
    <Background />
  </body>
</html>
